.container {
    max-width: 800px;
    margin: 80px auto 0; /* Adjusted for fixed header */
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.genre-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.genre-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.genre-name {
    font-size: 24px;
    margin-bottom: 10px;
}

.genre-description {
    line-height: 1.6;
}

.books-heading {
    font-size: 28px;
    margin-bottom: 20px;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    margin-bottom: 10px;
}

.book-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.book-link:hover {
    text-decoration: underline;
}
.author-photo {
    max-width: 200px;
    border-radius: 10%;
    margin-bottom: 20px;
    
    margin-right: 20px; 
    display: inline-block;
}

.author-info {
    text-align: justify; /* Ровное обтекание текста */
}