body {
    background: linear-gradient(to right , #d1ebff,rgb(147, 198, 255));
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    font-family: Jost, sans-serif;
}

.headline{
    font-family: Jost,sans-serif;
    font-size: 32;
    text-align: center;
    font-weight: 200;
    color: #fff;
    padding-top: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

input[type="submit"] {
    background-color:#0080ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    display: block;
    margin: 0 auto;
    margin-top: 20px; 
    font-family: Jost, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

input[type="submit"]:hover {
    transform: scale(1.1); 
}

.link_main {
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    color:#fff;
    font-family: Jost, sans-serif;
    text-align: center;
}

.settings-ul ul{
    font-size: 16px;
    font-weight: 300;
    color:#fff;
    font-family: Jost, sans-serif;
    text-align: center;
    list-style-type: none;
}

ul li {
    text-align: center;
    list-style-type: none;
    padding: 0;
}
