.search-input {
    width: 95%;
    padding: 10px;
    margin: 20px 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-input:focus {
    border-color: #1f00d0;
}

.author-card {
    border: 1px solid #ccc;
    border-radius: 4%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 27%;
    margin: 1%;
    display: inline-block; 
}

.author-card img {
    width: 100%;
    height: 6%;
    object-fit: cover;
    border-radius: 4%;
}

.author-name {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.author-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #a7daff;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 5px;
}

.author-button:hover {
    background-color: #0056b3;
}

table {
    width: 25%;
    margin-top: 20px;
    border-collapse: separate;
    font-family: 'Arial', sans-serif;;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.i {
    text-decoration: none;
    color: rgb(116, 116, 116);
}

td {
    padding: 20px;
    text-align: center;
}

.color1 {
    background:  #83bfff;
    border-radius: 4px;
    transition: background-color 0.3s;

}
.content-container {
    display: flex;
}

.author-list {
    flex: 1;
}

.genre-table {
    width: 10px;
    margin-left: 1px;
    margin-right: 200px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: inherit;
}
.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    .rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .1em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
    }
    .rounded a:hover {background: #E9E4E0;}
    .rounded a:hover:before {transform: rotate(360deg);}
    .rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8fcdd4;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
    }