.search-input {
    width: 1000px;
    height: 30px;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    border: 2px solid #ccc;
    padding: 0 10px;
    outline: none;
}

.search-input:focus {
    border-color: #1f00d0;
}



.author-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 20px;
    display: inline-block; 
}

.author-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.author-name {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.author-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.author-button:hover {
    background-color: #0056b3;
}

table {
    width: 15%;
    margin-top: 20px;
    border-collapse: separate;
    font-style: italic;
    color: rgb(116, 116, 116);
    font-size: 25px;
}

.i {
    text-decoration: none;
    color: rgb(116, 116, 116);
}

td {
    padding: 20px;
    text-align: center;
}

.color1 {
    background: linear-gradient(45deg, rgb(147, 249, 253), rgb(224, 248, 249));
}
.content-container {
    display: flex;
}

.author-list {
    flex: 1;
}

.genre-table {
    width: 15%;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: inherit;
}