*{
    box-sizing: border-box;
}

.jost-myfont {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right , #ebeeee,#daedf5);
    font-family: "Jost";
    min-height: 100%;
    margin: 10%;
}

.container {
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
                0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content: center; /* Выравнивание по горизонтали */
    align-items: center; /* Выравнивание по вертикали */
}

form {
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

h1 {
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 30px 0 15px;
    font-family: "Jost";
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

input {
    background:#ECEFF4;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #87CEEB;
    text-decoration: none;
}

button {
    color: #ffffff;
    background: #87CEEB;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #87CEEB;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    font-family: "Jost";
    align-self: center;
}

button:active{
    transform: scale(0.90);
}

.register {
    color:#1941D1;
    background:transparent;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 15px;
    border-radius: 20px;
    border: 1px solid #1941D1;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    font-family: "Jost";
}

.footer-p {
    font-weight: 200;
    line-height: 5px;
    letter-spacing: 0.5px;
    margin: 15px 0 15px 0;
    font-size: 16px;
    font-family: "Jost";
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.link-p {
    font-weight: 400;
    line-height: 5px;
    letter-spacing: 0.5px;
    margin: 15px 0 15px 0;
    font-size: 16px;
    font-family: "Jost";
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    padding-bottom: 30px;
}
