body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.header {
    background-color: #fff;
    color: #ab2121;
    padding: 10px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    top: 0;
    width: 100%;

}

.logo {
    flex-grow: 1;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

.logo a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    
}

.actions {
    display: flex;
    align-items: center;
}

.user a, .login-btn, .logout-btn {
    margin-right: 25px;
   
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 30px;
    transition: background-color 0.3s;
    border: 2px solid #4682B4;
    background-color: transparent;
}

.user a:hover, .login-btn:hover, .logout-btn:hover {
    background-color: #4682B4;
}

.login-btn, .logout-btn {
    background-color: #5ab5ff;
    border: none;
}

.login-btn:hover, .logout-btn:hover {
    background-color: #1E90FF;
}
