.header {
    position: relative;
    overflow: hidden;
    padding-top: 75px;
    background: linear-gradient(135deg, #acffee, #8be0f3, #6de4ff, #9479ff, #6a4ce2, #1b2bdb, #6a4ce2, #9479ff, #6de4ff, #8be0f3, #acffee);
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.button.login {
    background-color: #4CAF50;
    color: white;
}

.button.logout {
    background-color: #f44336;
    color: white;
}


.button:hover {
    opacity: 0.8;
}
.logo {
    text-decoration: none;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 50px;
    font-style: italic;
    background: none;
}


