body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.header {
    background-color: #87CEEB;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-grow: 1;
    text-align: center;
}

.logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.actions {
    display: flex;
    align-items: center;
}

.user a, .login-btn, .logout-btn {
    margin-left: 15px;
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 30px;
    transition: background-color 0.3s;
    border: 2px solid #4682B4;
    background-color: transparent;
}

.user a:hover, .login-btn:hover, .logout-btn:hover {
    background-color: #4682B4;
}

.login-btn, .logout-btn {
    background-color: #5ab5ff;
    border: none;
}

.login-btn:hover, .logout-btn:hover {
    background-color: #1E90FF;
}
