<link rel="stylesheet" href="/static/form_styles.css">
{% if form.errors %}
    <div class="error-messages">
        <ul>
        {% for error in form.errors %}
            <li><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ul>
    </div>
{% endif %}

<h1>"{{ book.name }}", {{ book.author.name }}</h1>
<form action="{% url 'comment_update' %}" method="post" class="comment-form">
    {% csrf_token %}
    <div class="form-table">
        {{ form.as_p }}
    </div>
    
    <input type="hidden" name="comment_id" value="{{ comment_id }}">
    <button type="submit" class="submit-button">Сохранить</button>
</form>
