<link rel="stylesheet" href="/static/author_styles.css"> 
{% extends "base.html" %} 
{% block content %} 
<div class="container">
    <h1>Информация об авторе</h1>
    <div class="author-info">
        <p class="author-name">{{author.name}}</p>
        <p>{{author.body}}</p>
    </div>
    {% if author.book_set.all %}
    <h2>Произведения</h2>
    <ul class="book-list">
        {% for i in author.book_set.all %}
        <li><a href="{% url 'show_book' i.id %}">{{i.name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %} 

