<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BookReviewHub</title>
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <div class="header">
    <div class="logo"><a class="logo" href="/">BookReviewHub</a></div>
    <span class="user">
      {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard' %}">Перейти в профиль: {{ request.user.first_name }}</a>
          <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Logout</button>
          </form>
      {% else %}
          <a href="{% url 'login' %}">Log-in</a>
      {% endif %}
  </span>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>
