<link rel="stylesheet" href="/static/author_styles.css"> 
{% extends "base.html" %} 
{% block content %} 
<div class="container">
    <h1 class="genre-title">Информация о жанрах</h1>
    <div class="genre-info">
        <p class="genre-name">{{genre.genre}}</p>
        <p class="genre-description">{{genre.body}}</p>
    </div>
    {% if genre.book_set.all %}
    <h2 class="books-heading">Произведения</h2>
    <ul class="book-list">
        {% for book in genre.book_set.all %}
        <li class="book-item"><a href="{% url 'show_book' book.id %}" class="book-link">"{{book.name}}", {{book.author.name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
