<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title>Titl</title>
  <link rel="stylesheet" href="../static/sign_in_up_style.css" />
</head>
<body>
    <div id='container'>
        <div class='signup'>
          <form>
            <input type='text' placeholder='Никнейм:' />
            <input type='text' placeholder='Пароль:' />
            <input type='text' placeholder='Введите пароль еще раз:' />
            <button type="submit">Зарегистрироваться</button>
            <button type="submit"><a href="/sign-in">Войти</a></button>
          </form>
        </div>
      </div>    
</body>
</html>