<link rel="stylesheet" href="/static/dashboard_styles.css"> 
{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Добро пожаловать в профиль, {{ request.user.first_name }} {{ request.user.last_name }}!</h1>
    {% if not comments %}
    <p>Вы еще не оставляли отзывы. Чтобы оставить отзыв, найдите произведение, о котором хотели бы поделиться своими впечатлениями.</p>
    {% endif %}
    <form action="/books" method="get"> 
        <input type="search" class="search-input" placeholder="Например, капитанская дочка" required name="term">
    </form>
    {% for comment in comments %}
        <div class="comment">
            <h2>{{ comment.title }}</h2>
            <p>{{ comment.content }}</p>
            <h3>Произведение: {{ comment.book.name }} </h3>
            <p>{{ comment.body }}</p>
            <h4><a href="{% url 'show_book' comment.book.id %}">Все комментарии к произведению</a></h4>
            <a href="{% url 'comment_update' comment.id %}" style="color: rgb(0, 32, 160); font-style: italic;">Редактировать комментарий</a>
            <form action="{% url 'comment_delete' comment.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Удалить комментарий">
            </form>
        </div>
    {% endfor %}
{% endblock %}
